/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #000;
$white:             #fff;

$pf-orange:         #faa732;
$pf-blue:        	#006dcc;

$link-color:        $pf-blue;
$link-hover:        darken($link-color, 9%);